- var site    = 'Telcel UI KIT';
- var page = '';
- var pageDesc = '';
- var idMainSection = '';
- var idSection = '';
- var pageToc = true;
- var styles  = [];
- var scripts = [];
- var assets = '';

- 
	var nav = [
		{
			"section": "telcel-master",
			"title": "Telcel master",
			"slug": "/telcel-master/introduccion",
			"sections": [
				{
					"section": "introduccion",
					"title": "Introducción",
					"slug": "/telcel-master/introduccion"
				},
				{
					"section": "nomenclatura-css",
					"title": "Nomenclatura CSS",
					"slug": "/telcel-master/nomenclatura-css"
				}
			]
		},
		{
			"section": "layout",
			"title": "Layout",
			"slug": "/layout/grid",
			"sections": [
				{
					"section": "grid",
					"title": "Grid",
					"slug": "/layout/grid"
				},
				{
					"section": "utilidades",
					"title": "utilidades",
					"slug": "/layout/utilidades"
				}
			]
		},
		{
			"section": "generales",
			"title": "Generales",
			"slug": "/generales/tipografia",
			"sections": [
				{
					"section": "tipografia",
					"title": "Tipografía",
					"slug": "/generales/tipografia"
				}
			]
		},
		{
			"section": "componentes",
			"title": "Componentes",
			"slug": "/componentes/alertas",
			"sections": [
				{
					"section": "alertas",
					"title": "Alertas",
					"slug": "/componentes/alertas"
				},
				{
					"section": "botones",
					"title": "Botones",
					"slug": "/componentes/botones"
				}
			]
		},
		{
			"section": "utilidades",
			"title": "Utilidades",
			"slug": "/utilidades/colores",
			"sections": [
				{
					"section": "colores",
					"title": "Colores",
					"slug": "/utilidades/colores"
				}
			]
		}
	];
