<div class="container-fluid">
  <p class="filtros-equipo-leyenda-nuevo">Olvídate de las recargas. Todos los Planes Telcel Max Sin Límite incluyen minutos, SMS, mensajería instantánea y Redes Sociales. Conócelos y
    elige tu Plan ideal.</p>
</div>

<div class="tienda-select-comparador-contenedor">

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-4 telcel-controles--hidden-sm">

        <p class="telcel-controles-contenedor--textos-plan">Elige el plazo que más te convenga:</p>

        <div class="telcel-controles-contenedor--alineacion-horizontal">

          <div class="telcel-controles-contenedor">
            <div class="tienda-formulario-titular-activo--radio-buton-contenedor">
              <input type="radio" id="seleccion-meses--12-meses-3" name="seleccion-meses-3" class="control-input-titular-datos-entrega telcel-controles-radio--estilo-2">
              <label for="seleccion-meses--12-meses-3"> 12 meses</label>
            </div>
          </div>

          <div class="telcel-controles-contenedor">
            <div class="tienda-formulario-titular-activo--radio-buton-contenedor">
              <input type="radio" id="seleccion-meses--18-meses-3" name="seleccion-meses-3" class="telcel-controles-radio--estilo-2">
              <label for="seleccion-meses--18-meses-3"> 18 meses</label>
            </div>
          </div>

          <div class="telcel-controles-contenedor">
            <div class="tienda-formulario-titular-activo--radio-buton-contenedor">
              <input type="radio" id="seleccion-meses--24-meses-3" name="seleccion-meses-3" class="telcel-controles-radio--estilo-2" checked>
              <label for="seleccion-meses--24-meses-3"> 24 meses</label>
            </div>
          </div>


        </div>

      </div>

      <form action="">
        <div class="telcel-controles-contenedor--alineacion-horizontal">
          <div class="telcel-controles-contenedor">
            <p class="telcel-controles-contenedor--textos-plan plan-text-espacio">Cuántos megas:</p>
            <div class="telcel-controles--select-checkbox--contenedor">
              <button class="telcel-controles--select-checkbox--boton" type="button">
                <span class="telcel-controles--select-checkbox--boton-label">Todos</span>
                <span class="caret"></span></button>
              <div class="telcel-controles-contenedor--select-checkbox-filtro">

                <div class="telcel-controles-contenedor--select-checkbox--contenedor">

                  <h3>Selecciona una opción</h3>
                  <ul>
                    <li><label><input class="telcel-controles-contenedor--select-checkbox---seleccionar-todos" type="checkbox" value="">Todos</label></li>
                    <li><label><input type="checkbox" value="1000 MB - 2000 MB">1000 MB - 2000 MB</label></li>
                    <li><label><input type="checkbox" value="3000 MB - 7000 MB">3000 MB - 7000 MB</label></li>
                    <li><label><input type="checkbox" value="8000 MB - 11000">8000 MB - 11000</label></li>
                    <li><label><input type="checkbox" value="13000-15000">13000-15000</label></li>
                  </ul>
                </div>

                <a class="telcel-controles-contenedor--select-checkbox--cta" id="btn-cta-1" href="#">Confirmar</a>

              </div>
            </div>
          </div>

          <div class="telcel-controles-contenedor">
            <p class="telcel-controles-contenedor--textos-plan plan-text-espacio">Cuánto quieres pagar:</p>
            <div class="telcel-controles--select-checkbox--contenedor">
              <button class="telcel-controles--select-checkbox--boton" type="button">
                <span class="telcel-controles--select-checkbox--boton-label">Todos</span>
                <span class="caret"></span></button>
              <div class="telcel-controles-contenedor--select-checkbox-filtro">

                <div class="telcel-controles-contenedor--select-checkbox--contenedor">
                  <h3>Selecciona una opción</h3>
                  <ul>
                    <li><label><input type="checkbox" class="telcel-controles-contenedor--select-checkbox---seleccionar-todos">Todos</label></li>
                    <li><label><input type="checkbox" value="Hasta $299">Hasta $299</label></li>
                    <li><label><input type="checkbox" value="$300 - $549">$300 - $549</label></li>
                    <li><label><input type="checkbox" value="$550 - $899">$550 - $899</label></li>
                    <li><label><input type="checkbox" value="$900 - $1,399">$900 - $1,399</label></li>
                  </ul>
                </div>

                <a class="telcel-controles-contenedor--select-checkbox--cta" id="btn-cta-2" href="#">Confirmar</a>

              </div>
            </div>
          </div>

        </div>
      </form>


    </div>

  </div>

</div>