<div class="container-fluid">

  <!-- Eres usuario Telcel -->
  <div class="row">
    <div class="col-sm-6">
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="eres-usuario-telcel" name="eres-usuario-telcel" class="custom-control-input" checked>
        <label class="custom-control-label" for="eres-usuario-telcel">¿Eres usuario Telcel?</label>
      </div>
    </div>
  </div>



  <div class="row">

    <div class="col-sm-6">

      <div class="telcel-campo-texto-mensaje">
        <div class="telcel-campo-texto-mensaje-contenido">
          <section>
            <div class="telcel-campo-texto">
              <label for="cuenta-o-rfc">Línea Telcel</label>
              <input id="cuenta-o-rfc" type="text" placeholder="Número Telcel a 10 dígitos" />
            </div>
            <p class="hidden">Correo electrónico no es válido.</p>
          </section>
        </div>
      </div>

    </div>


    <div class="col-sm-6">

      <div class="telcel-campo-texto-mensaje telcel-campo-texto-mensaje-cta">
        <div class="telcel-campo-texto-mensaje-contenido">
          <section>
            <div class="telcel-campo-texto">
              <label for="token">Token</label>
              <input id="token" type="text" />
              <a class="" href="#">Enviar</a>
            </div>
            <p class="hidden">Correo electrónico no es válido.</p>
          </section>
        </div>
      </div>

    </div>

  </div>


  <div class="row">

    <div class="col-sm-6"></div>

    <div class="col-sm-6">
      <div class="telcel-campo-texto-mensaje telcel-campo-texto-mensaje-cta">
        <div class="telcel-campo-texto-mensaje-contenido">
          <section>
            <div class="telcel-campo-texto">
              <label for="cuenta-o-rfc">Cuenta o RFC</label>
              <input id="cuenta-o-rfc" type="text" />
              <a class="" href="#">Validar</a>
            </div>
            <p class="hidden">Correo electrónico no es válido.</p>
          </section>
        </div>
      </div>
    </div>

  </div>
  <!-- Eres usuario Telcel -->


</div>
