<div class="container-fluid">
  <p class="filtros-equipo-leyenda-nuevo">Elige el celular que siempre quisiste, cotízalo y llévatelo con un pago inicial accesible al plazo que elijas. Encuentrálo por marca y filtra por color y capacidad</p>
</div>

<div class="tienda-select-comparador-contenedor">

  <div class="container-fluid">

    <form action="">
      <div class="telcel-controles-contenedor--alineacion-horizontal">
        <div class="telcel-controles-contenedor">
          <p class="telcel-controles-contenedor--textos">Marca:</p>
          <div class="telcel-controles--select-checkbox--contenedor">
            <button class="telcel-controles--select-checkbox--boton" type="button">
              <span class="telcel-controles--select-checkbox--boton-label">Todos</span>
              <span class="caret"></span></button>
            <div class="telcel-controles-contenedor--select-checkbox-filtro">

              <div class="telcel-controles-contenedor--select-checkbox--contenedor">

                <h3>Selecciona una opción</h3>
                <ul>
                  <li><label><input class="telcel-controles-contenedor--select-checkbox---seleccionar-todos" type="checkbox" value="">Todos</label></li>
                  <li><label><input type="checkbox" value="Nokia">Nokia</label></li>
                  <li><label><input type="checkbox" value="Samsung">Samsung</label></li>
                  <li><label><input type="checkbox" value="Huawei">Huawei</label></li>
                  <li><label><input type="checkbox" value="Motorola">Motorola</label></li>
                  <li><label><input type="checkbox" value="LG">LG</label></li>
                </ul>
              </div>

              <a class="telcel-controles-contenedor--select-checkbox--cta" id="btn-cta-1" href="#">Confirmar</a>

            </div>
          </div>
        </div>

        <div class="telcel-controles-contenedor">
          <p class="telcel-controles-contenedor--textos">Color:</p>
          <div class="telcel-controles--select-checkbox--contenedor">
            <button class="telcel-controles--select-checkbox--boton" type="button">
              <span class="telcel-controles--select-checkbox--boton-label">Todos</span>
              <span class="caret"></span></button>
            <div class="telcel-controles-contenedor--select-checkbox-filtro">

              <div class="telcel-controles-contenedor--select-checkbox--contenedor">
                <h3>Selecciona una opción</h3>
                <ul>
                  <li><label><input type="checkbox" class="telcel-controles-contenedor--select-checkbox---seleccionar-todos">Todos</label></li>
                  <li><label><input type="checkbox" value="Negro"><span class="select-simulado-color filtro-negro"></span> Negro</label></li>
                  <li><label><input type="checkbox" value="Gris"><span class="select-simulado-color filtro-gris"></span> Gris</label></li>
                  <li><label><input type="checkbox" value="Azul"><span class="select-simulado-color filtro-azul"></span> Azul</label></li>
                  <li><label><input type="checkbox" value="Rojo"><span class="select-simulado-color filtro-rojo"></span> Rojo</label></li>
                  <li><label><input type="checkbox" value="Verde"><span class="select-simulado-color filtro-verde"></span> Verde</label></li>
                  <li><label><input type="checkbox" value="Morado"><span class="select-simulado-color filtro-morado"></span> Morado</label></li>
                  <li><label><input type="checkbox" value="Dorado"><span class="select-simulado-color filtro-dorado"></span> Dorado</label></li>
                  <li><label><input type="checkbox" value="Blanco"><span class="select-simulado-color filtro-blanco"></span> Blanco</label></li>
                </ul>
              </div>

              <a class="telcel-controles-contenedor--select-checkbox--cta" id="btn-cta-2" href="#">Confirmar</a>

            </div>
          </div>
        </div>


        <div class="telcel-controles-contenedor">
          <p class="telcel-controles-contenedor--textos">Capacidad:</p>
          <div class="telcel-controles--select-checkbox--contenedor">
            <button class="telcel-controles--select-checkbox--boton" type="button">
              <span class="telcel-controles--select-checkbox--boton-label">Todos</span>
              <span class="caret"></span></button>
            <div class="telcel-controles-contenedor--select-checkbox-filtro">
              <div class="telcel-controles-contenedor--select-checkbox--contenedor">

                <h3>Selecciona una opción</h3>
                <ul>
                  <li><label><input type="checkbox" class="telcel-controles-contenedor--select-checkbox---seleccionar-todos">Todos</label></li>
                  <li><label><input type="checkbox" value="Hasta 64 GB">Hasta 64 GB</label></li>
                  <li><label><input type="checkbox" value="32 GB - 64 GB">32 GB - 64 GB</label></li>
                  <li><label><input type="checkbox" value="128 GB o más">128 GB o más</label></li>
                  <li><label><input type="checkbox" value="256 GB o más">256 GB o más</label></li>
                </ul>
              </div>

              <a class="telcel-controles-contenedor--select-checkbox--cta" id="btn-cta-3" href="#">Confirmar</a>

            </div>
          </div>
        </div>

      </div>
    </form>


    <div class="contenedor-filtros-orden">
      <span>Ordenar por:</span>
      <ul class="list-inline">
        <li><a href="#" class="active">Promoción</a></li>
        <li><a href="#">Precio más bajo</a></li>
        <li><a href="#">Precio más alto</a></li>
      </ul>
    </div>

  </div>

</div>
