extends ../../../layouts/doc.pug
block vars
	- page = 'Telcel master';
	- pageDesc = 'Es una biblioteca para desarrollo de sitios y aplicaciones web de Telcel, contiene plantillas de diseño con elementos web basados en HTML, CSS y javascript.';
	- assets = '../../../../assets/';
	- idMainSection = 'telcel-master';
	- idSection = 'introduccion';
block content
	h2 Directorios del proyecto
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam corporis iure explicabo doloribus, debitis! Quis tempora nihil dolore voluptatum adipisci velit ex doloremque? Facere illum debitis, distinctio ullam, quaerat atque.
	h2 Tareas
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit fugit rerum fugiat facere expedita, ratione, obcaecati sequi, deserunt similique autem, eos aliquid! Eum necessitatibus molestias, totam officia amet magnam quibusdam.
	h3 Iniciar servidor local 
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro deserunt ea repudiandae eligendi temporibus laborum blanditiis et aliquam, mollitia velit incidunt ipsum quam veritatis nam necessitatibus iusto nostrum eaque est!
	h3 Generar distribución
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quos officia voluptatum aut quae necessitatibus expedita quaerat saepe quasi modi vero earum suscipit, numquam ab eius nihil ex blanditiis molestiae!
