extends ../../../layouts/doc.pug
block vars
	- page = 'Nomenclatura CSS';
	- pageDesc = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolorum a, voluptate, cumque fuga in cupiditate facere.';
	- assets = '../../../../assets/';
	- idMainSection = 'telcel-master';
	- idSection = 'nomenclatura-css';
block content
	h2 Lorem ipsum dolor
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam corporis iure explicabo doloribus, debitis! Quis tempora nihil dolore voluptatum adipisci velit ex doloremque? Facere illum debitis, distinctio ullam, quaerat atque.
