html(lang="es")
	head
		meta(charset="utf-8")
		link(rel="canonical" href="/componentes/alertas")
		meta(name="roots" content="noindex")
		meta(http-equiv="refresh" content="0; url=/componentes/alertas")
	body