extends ../../../layouts/doc.pug
block vars
	- page = 'Tipografía';
	- pageDesc = 'Todos los elementos de texto utilizan por defecto la fuente principal (Source Sans Pro), también se dispone en el proyecto de una fuente secundaria (Telcel) la cual se puede usar mediante un modificador de texto.';
	- assets = '../../../../assets/';
	- idMainSection = 'generales';
	- idSection = 'tipografia';
block content

	h2 Encabezados
	p Utilizan la base de estilos proporcionada en el archivo #[b variables.scss] y #[b _reboot.scss], es posible modificar su apariencia mediante #[b modificadores] (disponibles en #[b utilidades]).
	+example()
		h1 h1. Encabezado
		h2 h2. Encabezado
		h3 h3. Encabezado
		h4 h4. Encabezado
		h5 h5. Encabezado
		h6 h6. Encabezado
	p En ocaciones es necesario el uso de encabezados con fuente secundaria, para esto nos podemos apoyar del modificador de fuente #[b .TM-font--secondary].
	+example()
		h1.TM-font--secondary h1. Encabezado
		h2.TM-font--secondary h2. Encabezado
		h3.TM-font--secondary h3. Encabezado
		h4.TM-font--secondary h4. Encabezado
		h5.TM-font--secondary h5. Encabezado
		h6.TM-font--secondary h6. Encabezado

	h2 Parrafos
	p Utilizan la base de estilos proporcionada en el archivo #[b variables.scss] y #[b _reboot.scss], es posible modificar su apariencia mediante #[b modificadores] (disponibles en #[b utilidades]).
	+example('p')
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, iusto ipsam tempora beatae rem corporis, repudiandae voluptatibus soluta qui rerum aspernatur, nisi quisquam tempore vel laborum minima. Cum eum, assumenda?
		p.TM-font--small Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
		p.TM-font--extra-small Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
		p.TM-font--secondary Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.